
  <nav class="row cyan darken-1">
    <div class="nav-wrapper">
      <div class="col s12">
        <a href="{% url 'home' %}" class="breadcrumb">Home</a>
        <a href="{% url 'studio' %}" class="breadcrumb">Studio</a>
        <a href="{% url 'add_source' %}" class="breadcrumb">Sources</a>
        <a href="{% url 'add_information' %}" class="breadcrumb">Info</a>
        <a href="{% url 'add_skill' %}" class="breadcrumb">Skills</a>
        <a href="{% url 'add_profession' %}" class="breadcrumb">Profession</a>
        <a href="{% url 'add_category' %}" class="breadcrumb">Category</a>
      </div>
    </div>
  </nav>